@font-face{
    font-family: Proxima-Nova;
    src: url("fonts/ProximaNovaThin.otf") format("opentype");
    font-weight: 100;
    font-style: normal;
}
@font-face{
    font-family: Proxima-Nova;
    src: url("fonts/ProximaNovaBold.otf") format("opentype");
    font-weight: 700;
    font-style: normal;
}
@font-face{
    font-family: Proxima-Nova;
    src: url("fonts/ProximaNovaThinItalic.otf") format("opentype");
    font-weight: 100;
    font-style: italic;
}
@font-face{
    font-family: Proxima-Nova;
    src: url("fonts/ProximaNovaBoldItalic.otf") format("opentype");
    font-weight: 700;
    font-style: italic;
}
@font-face{
    font-family: Proxima-Nova;
    src: url("fonts/ProximaNovaSemibold.otf") format("opentype");
    font-weight: 400;
    font-style: normal;
}